<div
  class="d-flex flex-column align-items-center align-items-sm-start px-5 pt-4 bg-light min-vh-100"
>
  <ul
    class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
  >
    <li class="nav-item mt-4 px-0">
      <a
        href="#"
        class="nav-link align-middle px-3 d-flex align-items-center active text-dark"
      >
        <i class="sidebar material-icons fs-4 me-2">dashboard</i>
        <span class="ms-1 d-none d-sm-inline">Dashboard</span>
      </a>
    </li>
    <li class="nav-item mt-4 nav-side">
      <a href="#" class="nav-link align-middle px-3 d-flex align-items-center">
        <i class="sidebar-icon material-icons fs-4 me-2">people</i>
        <span class="ms-1 d-none d-sm-inline text-black-50">Users</span>
      </a>
    </li>
    <li class="nav-item mt-3 mb-3 nav-side">
      <a href="#" class="nav-link align-middle px-3 d-flex align-items-center">
        <i class="sidebar-icon material-icons fs-4 me-2">notifications</i>
        <span class="ms-1 d-none d-sm-inline text-black-50">Notifications</span>
      </a>
    </li>
    <p class="m-3 text-uppercase fw-bold text-black-50">Account Pages</p>
    <li class="nav-item mt-3 nav-side">
      <a href="#" class="nav-link align-middle px-3 d-flex align-items-center">
        <i class="sidebar-icon material-icons fs-4 me-2">person</i>
        <span class="ms-1 d-none d-sm-inline text-black-50">User Details</span>
      </a>
    </li>
    <li class="nav-item mt-3 nav-side">
      <a href="#" class="nav-link align-middle px-3 d-flex align-items-center">
        <i class="sidebar-icon material-icons fs-4 me-2">login</i>
        <span class="ms-1 d-none d-sm-inline text-black-50">Sign In</span>
      </a>
    </li>
    <li class="nav-item mt-3 nav-side">
      <a href="#" class="nav-link align-middle px-3 d-flex align-items-center">
        <i class="sidebar-icon material-icons fs-4 me-2">logout</i>
        <span class="ms-1 d-none d-sm-inline text-black-50">Log Out</span>
      </a>
    </li>
  </ul>
</div>
